@import 'variables';

//line-animation
@keyframes title-line-before{
  0%{
    width: 0;
  }
  100%{
    width: 19vw;
  }
}
@keyframes title-line-after{
  0%{
    width: 0;
  }
  100%{
    width: 79.8vw;
  }
}

//card-show
@keyframes card-show {
  0%{
    margin-top: 100%;
  }
  100%{
    margin-top: 1vw;
  }
}

//media show effect
@keyframes media-show {
  0%{
    margin-right: -100vw;
  }
  100%{
    position: static;
    margin-right: 0;
  }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $main-color }
}

// глич эффект
@keyframes glitch-before {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(7) + vw, 38vw, random(7) + vw, 2vw);
    }
  }
}
@keyframes glitch-after {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(7) + vw, 38vw, random(7) + vw, 2vw);
    }
  }
}

@keyframes info-block {
  from, to { opacity: 0 ; width: 0 }
  100% { opacity: 1; width: 78%; }
}

@keyframes info-block-reverse {
  from, to { opacity: 1 ; width: 78% }
  100% { opacity: 0; width: 0; }
}

@keyframes hide-block {
  from, to { opacity: 1;}
  100% { opacity: 0.1; }
}

@keyframes slider-nav-pag-show {
  from, to { opacity: 0.1; margin-right: -100%; }
  100% { opacity: 1; margin-right: unset;}
}

@keyframes slider-nav-pag-reverse {
  from, to { opacity: 1; margin-right: unset; }
  100% { opacity: 1; margin-right: -10%;}
}

//mobile links show
@keyframes mobile-show-up {
  0%{
    margin-top: 100%;
  }
  100%{
    margin-top: 3vw;
  }
}


@media (max-width: 768px){
  // линии
  @keyframes title-line-before{
    0%{
      width: 0;
    }
    100%{
      width: 70vw;
    }
  }
  // глич эффект
  @keyframes glitch-before {
    $steps: 20;
    @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
        clip: rect(random(20) + vw, 100vw, random(20) + vw, 10vw);
      }
    }
  }
  @keyframes glitch-after {
    $steps: 20;
    @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
        clip: rect(random(20) + vw, 100vw, random(20) + vw, 10vw);
      }
    }
  }
}
