@import 'null';
@import 'animations';
@import 'variables';
@import 'mixins';
@import 'slider';
@import 'header';
@import 'links';

/* ---- particles.js container ---- */

#particles-background{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #060811;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

// content

.wrapper {
  flex: 1 0 auto !important;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

//cards

.cards{
  flex: 1 0 auto;
  width: 85vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.cards__list {
  width: 85vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: 0.9s;
  transform-style: preserve-3d;
  //height: 80vw;
  &.default-transform {
    transform: rotateX(51deg) rotateZ(-25deg) rotateY(10deg);
    transform-style: preserve-3d;
  }
}

.card {
  user-select: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -15px 12px 8px 0px rgba(0, 144, 255, 0.2);
  min-height: 14vw;
  width: 16vw;
  margin: 1vw;
  transition: 0.6s;
  background: $main-color;
  animation: card-show 1.5s cubic-bezier(0.54, 0.06, 0.57, 0.92);
  transition-delay: 0.25s;
  cursor: pointer;
  transform-style: preserve-3d;
  pointer-events: auto;
  .front-card,
  .back-card{
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0.25vw solid white;
    position: absolute;
    top: 0;
    bottom: 0;
    backface-visibility: hidden;
    word-wrap: break-word;
    span{
      font-family: 'Jura', sans-serif;
      text-align: center;
      color: white;
      font-size: 2vw;
      font-weight: 800;
      word-wrap: break-word;
    }
  }
  .front-card{
    pointer-events: none !important;
  }
  .back-card{
    display: flex;
    flex-wrap: wrap;
    background: transparent;
    transform: rotateX(180deg);
    cursor: default;
    a{
      font-size: 2.4vw;
      img{
        margin-right: 0.7vw;
      }
    }
    span{
      font-size: 2vw;
      cursor: pointer;
      letter-spacing: 2px;
    }
    a, span{
      letter-spacing: 2px;
      font-family: 'Jura', sans-serif;
      height: 50%;
      text-align: center;
      vertical-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      width: 100%;
      outline: 2px solid white;
      &:hover{
        background-color: rgba(255, 255, 255, 0.2);
      }
      &:active{
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
      }
    }
  }
  &:hover {
    background: transparent;
    transform: rotateX(180deg);
    transform-style: preserve-3d;
    transition-delay: 0.25s;
    box-shadow: none;
    border: none;
    outline: none;
  }
}

.cards__inner{
  position: relative;
  z-index: 10;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 100%;
  &.cards__inner_open{
    height: unset;
  }
}

.cards__list_open {
  scroll-behavior: smooth;
  pointer-events: auto;
  width: 17vw;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  transform: rotate(0);
  margin: unset;
  //overflow-y: scroll;
  height: 80vh;
  transform-style: preserve-3d;
  // убираю скроллбар
  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
    -ms-overflow-style: none;
  }
  .card{
    .front-card{
      pointer-events: auto !important;
    }
    margin: 0 0 1.3vw 0;
    box-shadow: none;
    &.card_active{
      outline: 4px solid white;
      transition: .2s;
      transition-delay: 0.2s;
      background: transparent;
      transform: scale(0.90);
      &:hover{
        background-color: transparent;
        transform: scale(0.90) !important;
      }
    }
    &:hover{
      background-color: rgba(255, 255, 255, 0.2);
      transform: scale(0.95);
    }
    &:last-child {
      margin: 0;
    }
  }
 }

// main slider control

.main-slider__navigation{
  display: flex;
  animation: 0.85s slider-nav-pag-show;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
  position: absolute;
  right: 2vw;
  pointer-events: auto;
  &.close-animation{
    top: -13vw;
    right: 2vw;
    animation: 1s slider-nav-pag-reverse;
  }

}
.main-slider__pagination{
  display: flex;
  animation: 0.85s slider-nav-pag-show;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 2vw;
  pointer-events: auto;
  &.close-animation{
    top: -13vw;
    right: 2vw;
    animation: 1s slider-nav-pag-reverse;
  }
}

.content{
  width: 78%;
  height: 80vh;
  color: white;
  position: relative;
  animation: info-block 1s cubic-bezier(0.54, 0.06, 0.28, 0.97);
  &.close-animation{
    animation: info-block-reverse 1s cubic-bezier(0.54, 0.06, 0.28, 0.97);
  }
  .content-close__button{
    pointer-events: auto;
    position: absolute;
    top: -0.3vw;
    right: -1.2vw;
    width: 2.2vw;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 0.5vw;
    transform: rotate(45deg);
    span{
      width: 100%;
      background: #ffffff;
      height: 1px;
      &:nth-child(1){
        transform: rotate(45deg)
      }
      &:nth-child(1){
        transform: rotate(-90deg)
      }
    }
  }
  // обводка
  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    border: 1px solid transparent;
  }
  &::before {
    border-top-color:  $main-color;
    border-left-color: $main-color;
    top: 0;
    left: 0;
    width: 96%;
    height: 75%;
    //width:61.4vw;
    //height: 50vh;
  }
  &::after {
    border-bottom-color:$main-color;
    border-right-color: $main-color;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 94%;
    //width:50vw;
    //height: 75.3vh;
  }
  .content__inner{
    padding: 1vw;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 93%;
  }
  .content__text{
    .content__title, .content__skills, .content__description{
      font-family: 'Jura', sans-serif;
      margin-bottom: 0.5vw;
      pointer-events: auto;
    }
    .content__title{
      font-size: 1.7vw;
    }
    .content__skills, .content__description{
      font-size: 1.2vw;
    }
  }
  .info-images{
    position: relative;
    z-index: 10;
    overflow: hidden;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 100%;
  }

  .info-images-slider{
    transform: translate3d(0px, 0px, 0px);
    transition: 0.8s;
    transform-style: preserve-3d;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 18vw;
    margin-bottom: 1.5vw;
    .slide{
      cursor: pointer;
      width: auto;
      height: 16vw;
      pointer-events: auto;
      margin-right: 2vw;
      transition: width 0.30s ease-out 0.06s, height 0.30s ease-out 0.06s;
      &.slide-active{
        transition: width 0.30s ease-out 0.06s, height 0.30s ease-out 0.06s;
        border: 2px solid $main-color;
        height: 17vw;
        padding: 3px
      }
      img{
        width: auto;
        object-fit: cover;
        height: 100%;
      }
    }
  }

  .content__links{
    pointer-events: auto;
    display: flex;
    align-content: stretch;
    margin-bottom: -1.8vw;
    .media__item{
      margin: 0;
      margin-right: 2vw;
      a{
        z-index: 5;
      }
    }
  }
}

//info card slider

.info-slider-navigation{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.info-slider__pagination{
  pointer-events: auto;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: -2.6vw;
}





@media (max-width: 768px) {
  html, body{
    overflow-y: auto;
    height: 100%;
  }
  #particles-background{
    position: fixed;
    height: 100%;
  }
  .cards{
    display: flex;
    flex-direction: column;
  }
  .card{
    margin: 0;
    margin-bottom: 10vw;
    width: 100%;
    height: 55vw;
    background: transparent;
    box-shadow: none;
    //outline: 0.5vw solid white;
    .front-card{
      outline: 0.4vw solid white;
      background: inherit;
      span{
        padding: 3vw;
        font-size: 7vw;
      }
    }
    .back-card{
      a, span{
        font-size: 7vw;
        outline: 0.1vw solid white;
        img{
          margin-right:3vw;
        }
      }
    }
    &:hover{
      transform: none;
    }
    &.active{
      background: transparent;
      transform: rotateX(180deg);
      transform-style: preserve-3d;
      transition-delay: 0.25s;
      box-shadow: none;
      outline: 0.5vw solid $main-color;
      //border: none;
      //outline: none;
      border: none;
      .back-card{
        outline: 0.4vw solid $main-color;
        a, span{
          outline: 0.1vw solid $main-color;
        }
      }
    }
  }
}
