@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

li {
  list-style: none;
}

@font-face {
  font-family: Neuropol;
  src: url(../fonts/neuropol.ttf);
}
* {
  font-family: "Orbitron", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  background: #111;
  overflow: hidden;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

a:focus {
  outline: 1px solid #767676;
}

.container {
  width: 85vw;
  margin: auto;
}
@media (max-width: 768px) {
  .container {
    max-width: 95vw;
  }
}

@-webkit-keyframes title-line-before {
  0% {
    width: 0;
  }
  100% {
    width: 19vw;
  }
}

@keyframes title-line-before {
  0% {
    width: 0;
  }
  100% {
    width: 19vw;
  }
}
@-webkit-keyframes title-line-after {
  0% {
    width: 0;
  }
  100% {
    width: 79.8vw;
  }
}
@keyframes title-line-after {
  0% {
    width: 0;
  }
  100% {
    width: 79.8vw;
  }
}
@-webkit-keyframes card-show {
  0% {
    margin-top: 100%;
  }
  100% {
    margin-top: 1vw;
  }
}
@keyframes card-show {
  0% {
    margin-top: 100%;
  }
  100% {
    margin-top: 1vw;
  }
}
@-webkit-keyframes media-show {
  0% {
    margin-right: -100vw;
  }
  100% {
    position: static;
    margin-right: 0;
  }
}
@keyframes media-show {
  0% {
    margin-right: -100vw;
  }
  100% {
    position: static;
    margin-right: 0;
  }
}
@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #01ffe9;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #01ffe9;
  }
}
@-webkit-keyframes glitch-before {
  0% {
    clip: rect(5vw, 38vw, 6vw, 2vw);
  }
  5% {
    clip: rect(2vw, 38vw, 6vw, 2vw);
  }
  10% {
    clip: rect(6vw, 38vw, 2vw, 2vw);
  }
  15% {
    clip: rect(4vw, 38vw, 1vw, 2vw);
  }
  20% {
    clip: rect(6vw, 38vw, 1vw, 2vw);
  }
  25% {
    clip: rect(7vw, 38vw, 1vw, 2vw);
  }
  30% {
    clip: rect(2vw, 38vw, 1vw, 2vw);
  }
  35% {
    clip: rect(3vw, 38vw, 2vw, 2vw);
  }
  40% {
    clip: rect(3vw, 38vw, 5vw, 2vw);
  }
  45% {
    clip: rect(6vw, 38vw, 6vw, 2vw);
  }
  50% {
    clip: rect(5vw, 38vw, 6vw, 2vw);
  }
  55% {
    clip: rect(7vw, 38vw, 1vw, 2vw);
  }
  60% {
    clip: rect(4vw, 38vw, 6vw, 2vw);
  }
  65% {
    clip: rect(4vw, 38vw, 5vw, 2vw);
  }
  70% {
    clip: rect(6vw, 38vw, 6vw, 2vw);
  }
  75% {
    clip: rect(1vw, 38vw, 6vw, 2vw);
  }
  80% {
    clip: rect(6vw, 38vw, 6vw, 2vw);
  }
  85% {
    clip: rect(7vw, 38vw, 6vw, 2vw);
  }
  90% {
    clip: rect(4vw, 38vw, 7vw, 2vw);
  }
  95% {
    clip: rect(4vw, 38vw, 3vw, 2vw);
  }
  100% {
    clip: rect(3vw, 38vw, 7vw, 2vw);
  }
}
@keyframes glitch-before {
  0% {
    clip: rect(5vw, 38vw, 6vw, 2vw);
  }
  5% {
    clip: rect(2vw, 38vw, 6vw, 2vw);
  }
  10% {
    clip: rect(6vw, 38vw, 2vw, 2vw);
  }
  15% {
    clip: rect(4vw, 38vw, 1vw, 2vw);
  }
  20% {
    clip: rect(6vw, 38vw, 1vw, 2vw);
  }
  25% {
    clip: rect(7vw, 38vw, 1vw, 2vw);
  }
  30% {
    clip: rect(2vw, 38vw, 1vw, 2vw);
  }
  35% {
    clip: rect(3vw, 38vw, 2vw, 2vw);
  }
  40% {
    clip: rect(3vw, 38vw, 5vw, 2vw);
  }
  45% {
    clip: rect(6vw, 38vw, 6vw, 2vw);
  }
  50% {
    clip: rect(5vw, 38vw, 6vw, 2vw);
  }
  55% {
    clip: rect(7vw, 38vw, 1vw, 2vw);
  }
  60% {
    clip: rect(4vw, 38vw, 6vw, 2vw);
  }
  65% {
    clip: rect(4vw, 38vw, 5vw, 2vw);
  }
  70% {
    clip: rect(6vw, 38vw, 6vw, 2vw);
  }
  75% {
    clip: rect(1vw, 38vw, 6vw, 2vw);
  }
  80% {
    clip: rect(6vw, 38vw, 6vw, 2vw);
  }
  85% {
    clip: rect(7vw, 38vw, 6vw, 2vw);
  }
  90% {
    clip: rect(4vw, 38vw, 7vw, 2vw);
  }
  95% {
    clip: rect(4vw, 38vw, 3vw, 2vw);
  }
  100% {
    clip: rect(3vw, 38vw, 7vw, 2vw);
  }
}
@-webkit-keyframes glitch-after {
  0% {
    clip: rect(1vw, 38vw, 3vw, 2vw);
  }
  5% {
    clip: rect(5vw, 38vw, 5vw, 2vw);
  }
  10% {
    clip: rect(3vw, 38vw, 3vw, 2vw);
  }
  15% {
    clip: rect(2vw, 38vw, 4vw, 2vw);
  }
  20% {
    clip: rect(5vw, 38vw, 6vw, 2vw);
  }
  25% {
    clip: rect(7vw, 38vw, 6vw, 2vw);
  }
  30% {
    clip: rect(4vw, 38vw, 4vw, 2vw);
  }
  35% {
    clip: rect(1vw, 38vw, 6vw, 2vw);
  }
  40% {
    clip: rect(4vw, 38vw, 1vw, 2vw);
  }
  45% {
    clip: rect(1vw, 38vw, 6vw, 2vw);
  }
  50% {
    clip: rect(2vw, 38vw, 3vw, 2vw);
  }
  55% {
    clip: rect(2vw, 38vw, 4vw, 2vw);
  }
  60% {
    clip: rect(6vw, 38vw, 1vw, 2vw);
  }
  65% {
    clip: rect(1vw, 38vw, 6vw, 2vw);
  }
  70% {
    clip: rect(1vw, 38vw, 2vw, 2vw);
  }
  75% {
    clip: rect(3vw, 38vw, 2vw, 2vw);
  }
  80% {
    clip: rect(5vw, 38vw, 4vw, 2vw);
  }
  85% {
    clip: rect(3vw, 38vw, 2vw, 2vw);
  }
  90% {
    clip: rect(4vw, 38vw, 3vw, 2vw);
  }
  95% {
    clip: rect(2vw, 38vw, 6vw, 2vw);
  }
  100% {
    clip: rect(2vw, 38vw, 4vw, 2vw);
  }
}
@keyframes glitch-after {
  0% {
    clip: rect(1vw, 38vw, 3vw, 2vw);
  }
  5% {
    clip: rect(5vw, 38vw, 5vw, 2vw);
  }
  10% {
    clip: rect(3vw, 38vw, 3vw, 2vw);
  }
  15% {
    clip: rect(2vw, 38vw, 4vw, 2vw);
  }
  20% {
    clip: rect(5vw, 38vw, 6vw, 2vw);
  }
  25% {
    clip: rect(7vw, 38vw, 6vw, 2vw);
  }
  30% {
    clip: rect(4vw, 38vw, 4vw, 2vw);
  }
  35% {
    clip: rect(1vw, 38vw, 6vw, 2vw);
  }
  40% {
    clip: rect(4vw, 38vw, 1vw, 2vw);
  }
  45% {
    clip: rect(1vw, 38vw, 6vw, 2vw);
  }
  50% {
    clip: rect(2vw, 38vw, 3vw, 2vw);
  }
  55% {
    clip: rect(2vw, 38vw, 4vw, 2vw);
  }
  60% {
    clip: rect(6vw, 38vw, 1vw, 2vw);
  }
  65% {
    clip: rect(1vw, 38vw, 6vw, 2vw);
  }
  70% {
    clip: rect(1vw, 38vw, 2vw, 2vw);
  }
  75% {
    clip: rect(3vw, 38vw, 2vw, 2vw);
  }
  80% {
    clip: rect(5vw, 38vw, 4vw, 2vw);
  }
  85% {
    clip: rect(3vw, 38vw, 2vw, 2vw);
  }
  90% {
    clip: rect(4vw, 38vw, 3vw, 2vw);
  }
  95% {
    clip: rect(2vw, 38vw, 6vw, 2vw);
  }
  100% {
    clip: rect(2vw, 38vw, 4vw, 2vw);
  }
}
@-webkit-keyframes info-block {
  from, to {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 78%;
  }
}
@keyframes info-block {
  from, to {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 78%;
  }
}
@-webkit-keyframes info-block-reverse {
  from, to {
    opacity: 1;
    width: 78%;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
@keyframes info-block-reverse {
  from, to {
    opacity: 1;
    width: 78%;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
@-webkit-keyframes hide-block {
  from, to {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes hide-block {
  from, to {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
@-webkit-keyframes slider-nav-pag-show {
  from, to {
    opacity: 0.1;
    margin-right: -100%;
  }
  100% {
    opacity: 1;
    margin-right: unset;
  }
}
@keyframes slider-nav-pag-show {
  from, to {
    opacity: 0.1;
    margin-right: -100%;
  }
  100% {
    opacity: 1;
    margin-right: unset;
  }
}
@-webkit-keyframes slider-nav-pag-reverse {
  from, to {
    opacity: 1;
    margin-right: unset;
  }
  100% {
    opacity: 1;
    margin-right: -10%;
  }
}
@keyframes slider-nav-pag-reverse {
  from, to {
    opacity: 1;
    margin-right: unset;
  }
  100% {
    opacity: 1;
    margin-right: -10%;
  }
}
@media (max-width: 768px) {
  @-webkit-keyframes title-line-before {
    0% {
      width: 0;
    }
    100% {
      width: 70vw;
    }
  }
  @keyframes title-line-before {
    0% {
      width: 0;
    }
    100% {
      width: 70vw;
    }
  }
  @-webkit-keyframes glitch-before {
    0% {
      clip: rect(20vw, 100vw, 18vw, 10vw);
    }
    5% {
      clip: rect(1vw, 100vw, 3vw, 10vw);
    }
    10% {
      clip: rect(4vw, 100vw, 9vw, 10vw);
    }
    15% {
      clip: rect(9vw, 100vw, 16vw, 10vw);
    }
    20% {
      clip: rect(16vw, 100vw, 14vw, 10vw);
    }
    25% {
      clip: rect(10vw, 100vw, 15vw, 10vw);
    }
    30% {
      clip: rect(1vw, 100vw, 19vw, 10vw);
    }
    35% {
      clip: rect(16vw, 100vw, 13vw, 10vw);
    }
    40% {
      clip: rect(5vw, 100vw, 11vw, 10vw);
    }
    45% {
      clip: rect(12vw, 100vw, 16vw, 10vw);
    }
    50% {
      clip: rect(2vw, 100vw, 19vw, 10vw);
    }
    55% {
      clip: rect(19vw, 100vw, 12vw, 10vw);
    }
    60% {
      clip: rect(7vw, 100vw, 9vw, 10vw);
    }
    65% {
      clip: rect(5vw, 100vw, 9vw, 10vw);
    }
    70% {
      clip: rect(7vw, 100vw, 16vw, 10vw);
    }
    75% {
      clip: rect(20vw, 100vw, 14vw, 10vw);
    }
    80% {
      clip: rect(10vw, 100vw, 4vw, 10vw);
    }
    85% {
      clip: rect(11vw, 100vw, 13vw, 10vw);
    }
    90% {
      clip: rect(16vw, 100vw, 5vw, 10vw);
    }
    95% {
      clip: rect(4vw, 100vw, 17vw, 10vw);
    }
    100% {
      clip: rect(18vw, 100vw, 20vw, 10vw);
    }
  }
  @keyframes glitch-before {
    0% {
      clip: rect(20vw, 100vw, 18vw, 10vw);
    }
    5% {
      clip: rect(1vw, 100vw, 3vw, 10vw);
    }
    10% {
      clip: rect(4vw, 100vw, 9vw, 10vw);
    }
    15% {
      clip: rect(9vw, 100vw, 16vw, 10vw);
    }
    20% {
      clip: rect(16vw, 100vw, 14vw, 10vw);
    }
    25% {
      clip: rect(10vw, 100vw, 15vw, 10vw);
    }
    30% {
      clip: rect(1vw, 100vw, 19vw, 10vw);
    }
    35% {
      clip: rect(16vw, 100vw, 13vw, 10vw);
    }
    40% {
      clip: rect(5vw, 100vw, 11vw, 10vw);
    }
    45% {
      clip: rect(12vw, 100vw, 16vw, 10vw);
    }
    50% {
      clip: rect(2vw, 100vw, 19vw, 10vw);
    }
    55% {
      clip: rect(19vw, 100vw, 12vw, 10vw);
    }
    60% {
      clip: rect(7vw, 100vw, 9vw, 10vw);
    }
    65% {
      clip: rect(5vw, 100vw, 9vw, 10vw);
    }
    70% {
      clip: rect(7vw, 100vw, 16vw, 10vw);
    }
    75% {
      clip: rect(20vw, 100vw, 14vw, 10vw);
    }
    80% {
      clip: rect(10vw, 100vw, 4vw, 10vw);
    }
    85% {
      clip: rect(11vw, 100vw, 13vw, 10vw);
    }
    90% {
      clip: rect(16vw, 100vw, 5vw, 10vw);
    }
    95% {
      clip: rect(4vw, 100vw, 17vw, 10vw);
    }
    100% {
      clip: rect(18vw, 100vw, 20vw, 10vw);
    }
  }
  @-webkit-keyframes glitch-after {
    0% {
      clip: rect(12vw, 100vw, 18vw, 10vw);
    }
    5% {
      clip: rect(20vw, 100vw, 1vw, 10vw);
    }
    10% {
      clip: rect(15vw, 100vw, 15vw, 10vw);
    }
    15% {
      clip: rect(1vw, 100vw, 1vw, 10vw);
    }
    20% {
      clip: rect(3vw, 100vw, 19vw, 10vw);
    }
    25% {
      clip: rect(2vw, 100vw, 19vw, 10vw);
    }
    30% {
      clip: rect(2vw, 100vw, 17vw, 10vw);
    }
    35% {
      clip: rect(10vw, 100vw, 20vw, 10vw);
    }
    40% {
      clip: rect(13vw, 100vw, 6vw, 10vw);
    }
    45% {
      clip: rect(13vw, 100vw, 8vw, 10vw);
    }
    50% {
      clip: rect(18vw, 100vw, 7vw, 10vw);
    }
    55% {
      clip: rect(8vw, 100vw, 20vw, 10vw);
    }
    60% {
      clip: rect(20vw, 100vw, 1vw, 10vw);
    }
    65% {
      clip: rect(7vw, 100vw, 17vw, 10vw);
    }
    70% {
      clip: rect(9vw, 100vw, 18vw, 10vw);
    }
    75% {
      clip: rect(15vw, 100vw, 9vw, 10vw);
    }
    80% {
      clip: rect(19vw, 100vw, 6vw, 10vw);
    }
    85% {
      clip: rect(2vw, 100vw, 9vw, 10vw);
    }
    90% {
      clip: rect(10vw, 100vw, 6vw, 10vw);
    }
    95% {
      clip: rect(17vw, 100vw, 3vw, 10vw);
    }
    100% {
      clip: rect(6vw, 100vw, 6vw, 10vw);
    }
  }
  @keyframes glitch-after {
    0% {
      clip: rect(12vw, 100vw, 18vw, 10vw);
    }
    5% {
      clip: rect(20vw, 100vw, 1vw, 10vw);
    }
    10% {
      clip: rect(15vw, 100vw, 15vw, 10vw);
    }
    15% {
      clip: rect(1vw, 100vw, 1vw, 10vw);
    }
    20% {
      clip: rect(3vw, 100vw, 19vw, 10vw);
    }
    25% {
      clip: rect(2vw, 100vw, 19vw, 10vw);
    }
    30% {
      clip: rect(2vw, 100vw, 17vw, 10vw);
    }
    35% {
      clip: rect(10vw, 100vw, 20vw, 10vw);
    }
    40% {
      clip: rect(13vw, 100vw, 6vw, 10vw);
    }
    45% {
      clip: rect(13vw, 100vw, 8vw, 10vw);
    }
    50% {
      clip: rect(18vw, 100vw, 7vw, 10vw);
    }
    55% {
      clip: rect(8vw, 100vw, 20vw, 10vw);
    }
    60% {
      clip: rect(20vw, 100vw, 1vw, 10vw);
    }
    65% {
      clip: rect(7vw, 100vw, 17vw, 10vw);
    }
    70% {
      clip: rect(9vw, 100vw, 18vw, 10vw);
    }
    75% {
      clip: rect(15vw, 100vw, 9vw, 10vw);
    }
    80% {
      clip: rect(19vw, 100vw, 6vw, 10vw);
    }
    85% {
      clip: rect(2vw, 100vw, 9vw, 10vw);
    }
    90% {
      clip: rect(10vw, 100vw, 6vw, 10vw);
    }
    95% {
      clip: rect(17vw, 100vw, 3vw, 10vw);
    }
    100% {
      clip: rect(6vw, 100vw, 6vw, 10vw);
    }
  }
}
@keyframes title-line-before {
  0% {
    width: 0;
  }
  100% {
    width: 19vw;
  }
}
@keyframes title-line-after {
  0% {
    width: 0;
  }
  100% {
    width: 79.8vw;
  }
}
@keyframes card-show {
  0% {
    margin-top: 100%;
  }
  100% {
    margin-top: 1vw;
  }
}
@keyframes media-show {
  0% {
    margin-right: -100vw;
  }
  100% {
    position: static;
    margin-right: 0;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #01ffe9;
  }
}
@keyframes glitch-before {
  0% {
    clip: rect(5vw, 38vw, 4vw, 2vw);
  }
  5% {
    clip: rect(5vw, 38vw, 5vw, 2vw);
  }
  10% {
    clip: rect(6vw, 38vw, 6vw, 2vw);
  }
  15% {
    clip: rect(4vw, 38vw, 6vw, 2vw);
  }
  20% {
    clip: rect(4vw, 38vw, 5vw, 2vw);
  }
  25% {
    clip: rect(6vw, 38vw, 4vw, 2vw);
  }
  30% {
    clip: rect(3vw, 38vw, 7vw, 2vw);
  }
  35% {
    clip: rect(7vw, 38vw, 6vw, 2vw);
  }
  40% {
    clip: rect(5vw, 38vw, 7vw, 2vw);
  }
  45% {
    clip: rect(3vw, 38vw, 3vw, 2vw);
  }
  50% {
    clip: rect(3vw, 38vw, 4vw, 2vw);
  }
  55% {
    clip: rect(2vw, 38vw, 5vw, 2vw);
  }
  60% {
    clip: rect(3vw, 38vw, 7vw, 2vw);
  }
  65% {
    clip: rect(7vw, 38vw, 1vw, 2vw);
  }
  70% {
    clip: rect(4vw, 38vw, 7vw, 2vw);
  }
  75% {
    clip: rect(2vw, 38vw, 7vw, 2vw);
  }
  80% {
    clip: rect(6vw, 38vw, 5vw, 2vw);
  }
  85% {
    clip: rect(5vw, 38vw, 2vw, 2vw);
  }
  90% {
    clip: rect(2vw, 38vw, 4vw, 2vw);
  }
  95% {
    clip: rect(2vw, 38vw, 3vw, 2vw);
  }
  100% {
    clip: rect(3vw, 38vw, 1vw, 2vw);
  }
}
@keyframes glitch-after {
  0% {
    clip: rect(3vw, 38vw, 2vw, 2vw);
  }
  5% {
    clip: rect(3vw, 38vw, 1vw, 2vw);
  }
  10% {
    clip: rect(3vw, 38vw, 3vw, 2vw);
  }
  15% {
    clip: rect(1vw, 38vw, 1vw, 2vw);
  }
  20% {
    clip: rect(1vw, 38vw, 4vw, 2vw);
  }
  25% {
    clip: rect(1vw, 38vw, 6vw, 2vw);
  }
  30% {
    clip: rect(2vw, 38vw, 6vw, 2vw);
  }
  35% {
    clip: rect(5vw, 38vw, 1vw, 2vw);
  }
  40% {
    clip: rect(2vw, 38vw, 7vw, 2vw);
  }
  45% {
    clip: rect(4vw, 38vw, 5vw, 2vw);
  }
  50% {
    clip: rect(5vw, 38vw, 5vw, 2vw);
  }
  55% {
    clip: rect(1vw, 38vw, 4vw, 2vw);
  }
  60% {
    clip: rect(3vw, 38vw, 7vw, 2vw);
  }
  65% {
    clip: rect(5vw, 38vw, 7vw, 2vw);
  }
  70% {
    clip: rect(2vw, 38vw, 3vw, 2vw);
  }
  75% {
    clip: rect(7vw, 38vw, 5vw, 2vw);
  }
  80% {
    clip: rect(2vw, 38vw, 1vw, 2vw);
  }
  85% {
    clip: rect(2vw, 38vw, 3vw, 2vw);
  }
  90% {
    clip: rect(2vw, 38vw, 3vw, 2vw);
  }
  95% {
    clip: rect(1vw, 38vw, 5vw, 2vw);
  }
  100% {
    clip: rect(7vw, 38vw, 1vw, 2vw);
  }
}
@keyframes info-block {
  from, to {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 78%;
  }
}
@keyframes info-block-reverse {
  from, to {
    opacity: 1;
    width: 78%;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
@keyframes hide-block {
  from, to {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes slider-nav-pag-show {
  from, to {
    opacity: 0.1;
    margin-right: -100%;
  }
  100% {
    opacity: 1;
    margin-right: unset;
  }
}
@keyframes slider-nav-pag-reverse {
  from, to {
    opacity: 1;
    margin-right: unset;
  }
  100% {
    opacity: 1;
    margin-right: -10%;
  }
}
@media (max-width: 768px) {
  @-webkit-keyframes title-line-before {
    0% {
      width: 0;
    }
    100% {
      width: 70vw;
    }
  }
  @keyframes title-line-before {
    0% {
      width: 0;
    }
    100% {
      width: 70vw;
    }
  }
  @-webkit-keyframes glitch-before {
    0% {
      clip: rect(17vw, 100vw, 3vw, 10vw);
    }
    5% {
      clip: rect(2vw, 100vw, 14vw, 10vw);
    }
    10% {
      clip: rect(10vw, 100vw, 6vw, 10vw);
    }
    15% {
      clip: rect(14vw, 100vw, 1vw, 10vw);
    }
    20% {
      clip: rect(15vw, 100vw, 13vw, 10vw);
    }
    25% {
      clip: rect(17vw, 100vw, 20vw, 10vw);
    }
    30% {
      clip: rect(18vw, 100vw, 10vw, 10vw);
    }
    35% {
      clip: rect(2vw, 100vw, 5vw, 10vw);
    }
    40% {
      clip: rect(17vw, 100vw, 10vw, 10vw);
    }
    45% {
      clip: rect(16vw, 100vw, 11vw, 10vw);
    }
    50% {
      clip: rect(16vw, 100vw, 19vw, 10vw);
    }
    55% {
      clip: rect(15vw, 100vw, 12vw, 10vw);
    }
    60% {
      clip: rect(12vw, 100vw, 17vw, 10vw);
    }
    65% {
      clip: rect(17vw, 100vw, 7vw, 10vw);
    }
    70% {
      clip: rect(8vw, 100vw, 18vw, 10vw);
    }
    75% {
      clip: rect(18vw, 100vw, 13vw, 10vw);
    }
    80% {
      clip: rect(12vw, 100vw, 3vw, 10vw);
    }
    85% {
      clip: rect(4vw, 100vw, 19vw, 10vw);
    }
    90% {
      clip: rect(2vw, 100vw, 3vw, 10vw);
    }
    95% {
      clip: rect(19vw, 100vw, 10vw, 10vw);
    }
    100% {
      clip: rect(1vw, 100vw, 10vw, 10vw);
    }
  }
  @keyframes glitch-before {
    0% {
      clip: rect(17vw, 100vw, 3vw, 10vw);
    }
    5% {
      clip: rect(2vw, 100vw, 14vw, 10vw);
    }
    10% {
      clip: rect(10vw, 100vw, 6vw, 10vw);
    }
    15% {
      clip: rect(14vw, 100vw, 1vw, 10vw);
    }
    20% {
      clip: rect(15vw, 100vw, 13vw, 10vw);
    }
    25% {
      clip: rect(17vw, 100vw, 20vw, 10vw);
    }
    30% {
      clip: rect(18vw, 100vw, 10vw, 10vw);
    }
    35% {
      clip: rect(2vw, 100vw, 5vw, 10vw);
    }
    40% {
      clip: rect(17vw, 100vw, 10vw, 10vw);
    }
    45% {
      clip: rect(16vw, 100vw, 11vw, 10vw);
    }
    50% {
      clip: rect(16vw, 100vw, 19vw, 10vw);
    }
    55% {
      clip: rect(15vw, 100vw, 12vw, 10vw);
    }
    60% {
      clip: rect(12vw, 100vw, 17vw, 10vw);
    }
    65% {
      clip: rect(17vw, 100vw, 7vw, 10vw);
    }
    70% {
      clip: rect(8vw, 100vw, 18vw, 10vw);
    }
    75% {
      clip: rect(18vw, 100vw, 13vw, 10vw);
    }
    80% {
      clip: rect(12vw, 100vw, 3vw, 10vw);
    }
    85% {
      clip: rect(4vw, 100vw, 19vw, 10vw);
    }
    90% {
      clip: rect(2vw, 100vw, 3vw, 10vw);
    }
    95% {
      clip: rect(19vw, 100vw, 10vw, 10vw);
    }
    100% {
      clip: rect(1vw, 100vw, 10vw, 10vw);
    }
  }
  @-webkit-keyframes glitch-after {
    0% {
      clip: rect(15vw, 100vw, 20vw, 10vw);
    }
    5% {
      clip: rect(17vw, 100vw, 7vw, 10vw);
    }
    10% {
      clip: rect(16vw, 100vw, 16vw, 10vw);
    }
    15% {
      clip: rect(9vw, 100vw, 6vw, 10vw);
    }
    20% {
      clip: rect(7vw, 100vw, 6vw, 10vw);
    }
    25% {
      clip: rect(16vw, 100vw, 15vw, 10vw);
    }
    30% {
      clip: rect(11vw, 100vw, 14vw, 10vw);
    }
    35% {
      clip: rect(8vw, 100vw, 9vw, 10vw);
    }
    40% {
      clip: rect(18vw, 100vw, 1vw, 10vw);
    }
    45% {
      clip: rect(9vw, 100vw, 15vw, 10vw);
    }
    50% {
      clip: rect(13vw, 100vw, 1vw, 10vw);
    }
    55% {
      clip: rect(19vw, 100vw, 19vw, 10vw);
    }
    60% {
      clip: rect(6vw, 100vw, 16vw, 10vw);
    }
    65% {
      clip: rect(16vw, 100vw, 8vw, 10vw);
    }
    70% {
      clip: rect(12vw, 100vw, 8vw, 10vw);
    }
    75% {
      clip: rect(18vw, 100vw, 8vw, 10vw);
    }
    80% {
      clip: rect(20vw, 100vw, 10vw, 10vw);
    }
    85% {
      clip: rect(7vw, 100vw, 17vw, 10vw);
    }
    90% {
      clip: rect(17vw, 100vw, 11vw, 10vw);
    }
    95% {
      clip: rect(10vw, 100vw, 7vw, 10vw);
    }
    100% {
      clip: rect(17vw, 100vw, 10vw, 10vw);
    }
  }
  @keyframes glitch-after {
    0% {
      clip: rect(15vw, 100vw, 20vw, 10vw);
    }
    5% {
      clip: rect(17vw, 100vw, 7vw, 10vw);
    }
    10% {
      clip: rect(16vw, 100vw, 16vw, 10vw);
    }
    15% {
      clip: rect(9vw, 100vw, 6vw, 10vw);
    }
    20% {
      clip: rect(7vw, 100vw, 6vw, 10vw);
    }
    25% {
      clip: rect(16vw, 100vw, 15vw, 10vw);
    }
    30% {
      clip: rect(11vw, 100vw, 14vw, 10vw);
    }
    35% {
      clip: rect(8vw, 100vw, 9vw, 10vw);
    }
    40% {
      clip: rect(18vw, 100vw, 1vw, 10vw);
    }
    45% {
      clip: rect(9vw, 100vw, 15vw, 10vw);
    }
    50% {
      clip: rect(13vw, 100vw, 1vw, 10vw);
    }
    55% {
      clip: rect(19vw, 100vw, 19vw, 10vw);
    }
    60% {
      clip: rect(6vw, 100vw, 16vw, 10vw);
    }
    65% {
      clip: rect(16vw, 100vw, 8vw, 10vw);
    }
    70% {
      clip: rect(12vw, 100vw, 8vw, 10vw);
    }
    75% {
      clip: rect(18vw, 100vw, 8vw, 10vw);
    }
    80% {
      clip: rect(20vw, 100vw, 10vw, 10vw);
    }
    85% {
      clip: rect(7vw, 100vw, 17vw, 10vw);
    }
    90% {
      clip: rect(17vw, 100vw, 11vw, 10vw);
    }
    95% {
      clip: rect(10vw, 100vw, 7vw, 10vw);
    }
    100% {
      clip: rect(17vw, 100vw, 10vw, 10vw);
    }
  }
}
/* ---- particles.js container ---- */
#particles-js {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: #060811;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.wrapper {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 0 auto !important;
          flex: 1 0 auto !important;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.title-wrapper::before {
  content: "";
  position: absolute;
  top: 3.3vw;
  left: 0;
  width: 19vw;
  -webkit-animation: title-line-before 1.5s cubic-bezier(0.75, 0.13, 0.485, 1.03);
          animation: title-line-before 1.5s cubic-bezier(0.75, 0.13, 0.485, 1.03);
  height: 2px;
  background: #01ffe9;
}
.title-wrapper::after {
  content: "";
  position: absolute;
  top: 5vw;
  right: 0;
  width: 79.8vw;
  -webkit-animation: title-line-after 1.5s cubic-bezier(0.75, 0.13, 0.485, 1.03);
          animation: title-line-after 1.5s cubic-bezier(0.75, 0.13, 0.485, 1.03);
  height: 2px;
  background: #ffffff;
}

h1 {
  height: 4vw;
  pointer-events: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: 1.1vw;
  font-weight: 800;
  margin-top: 1.2vw;
  text-shadow: 3px 3px 0 #01ffe9;
  z-index: 2;
  text-transform: uppercase;
  color: white;
  font-size: 3vw;
  overflow: hidden;
  border-right: 0.1em solid #01ffe9;
  white-space: nowrap;
  -webkit-animation: blink-caret 1.2s step-end infinite;
          animation: blink-caret 1.2s step-end infinite;
}
h1.glitch:before, h1.glitch:after {
  content: "portfolio";
  text-shadow: 3px 3px 0 #01ffe9;
  color: #fff;
  position: absolute;
  top: 1.3vw;
  left: 0;
  padding-left: 7.6vw;
  width: 50vw;
  overflow: hidden;
}
h1.glitch:before {
  left: 3px;
  text-shadow: -3px 0 red;
  -webkit-animation: glitch-before 2s linear 0s infinite alternate;
          animation: glitch-before 2s linear 0s infinite alternate;
}
h1.glitch:after {
  left: -3px;
  text-shadow: -3px 0 blue;
  -webkit-animation: glitch-after 2s linear 0s infinite alternate;
          animation: glitch-after 2s linear 0s infinite alternate;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: media-show 1.5s cubic-bezier(0.75, 0.13, 0.485, 1.03);
          animation: media-show 1.5s cubic-bezier(0.75, 0.13, 0.485, 1.03);
}
.media svg {
  border-radius: 50%;
  pointer-events: auto;
  width: 1.5vw;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 2vw;
  position: relative;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}
.link-wrapper::before, .link-wrapper::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  content: "";
  position: absolute;
  border: 1px solid transparent;
  -webkit-transition: width 0.3s ease-out 0.06s, height 0.3s ease-out 0.06s;
  transition: width 0.3s ease-out 0.06s, height 0.3s ease-out 0.06s;
  width: 30%;
  height: 75%;
}
.link-wrapper::before {
  border-top-color: #01ffe9;
  border-left-color: #01ffe9;
  top: 0;
  left: 0;
}
.link-wrapper::after {
  border-bottom-color: #01ffe9;
  border-right-color: #01ffe9;
  bottom: 0;
  right: 0;
}
.link-wrapper:hover::before, .link-wrapper:hover::after {
  width: 100%;
  height: 100%;
  -webkit-transition: width 0.3s ease-out 0.06s, height 0.3s ease-out 0.06s;
  transition: width 0.3s ease-out 0.06s, height 0.3s ease-out 0.06s;
}

a {
  position: relative;
  font-size: 1.5vw;
  color: #ffffff;
  font-family: "Jura", sans-serif;
  pointer-events: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.4vw 0.9vw;
}
a#resume:hover:before, a#resume:hover:after {
  text-shadow: 3px 3px 0 #01ffe9;
  position: absolute;
  right: 0;
  padding-top: 2vw;
  padding-left: 3vw;
  padding-right: 3vw;
  width: 50vw;
  overflow: hidden;
  content: "Мое резюме";
  top: -1.6vw;
  left: -2.2vw;
}
a#resume:hover:before {
  right: -2px;
  text-shadow: -3px 0 red;
  -webkit-animation: glitch-before 2s linear 0s infinite alternate;
          animation: glitch-before 2s linear 0s infinite alternate;
}
a#resume:hover:after {
  right: 2px;
  text-shadow: -3px 0 blue;
  -webkit-animation: glitch-after 2s linear 0s infinite alternate;
          animation: glitch-after 2s linear 0s infinite alternate;
}
a#github:hover:before, a#github:hover:after {
  text-shadow: 3px 3px 0 #01ffe9;
  position: absolute;
  right: 0;
  padding-top: 2vw;
  padding-left: 3vw;
  padding-right: 3vw;
  width: 50vw;
  overflow: hidden;
  content: "Мой GitHub";
  top: -1.6vw;
  left: -2.2vw;
}
a#github:hover:before {
  right: -2px;
  text-shadow: -3px 0 red;
  -webkit-animation: glitch-before 2s linear 0s infinite alternate;
          animation: glitch-before 2s linear 0s infinite alternate;
}
a#github:hover:after {
  right: 2px;
  text-shadow: -3px 0 blue;
  -webkit-animation: glitch-after 2s linear 0s infinite alternate;
          animation: glitch-after 2s linear 0s infinite alternate;
}
a#telegram:hover:before, a#telegram:hover:after {
  text-shadow: 3px 3px 0 #01ffe9;
  position: absolute;
  right: 0;
  padding-top: 2vw;
  padding-left: 3vw;
  padding-right: 3vw;
  width: 50vw;
  overflow: hidden;
  content: "Telegram";
  top: -1.6vw;
  left: -2.2vw;
}
a#telegram:hover:before {
  right: -2px;
  text-shadow: -3px 0 red;
  -webkit-animation: glitch-before 2s linear 0s infinite alternate;
          animation: glitch-before 2s linear 0s infinite alternate;
}
a#telegram:hover:after {
  right: 2px;
  text-shadow: -3px 0 blue;
  -webkit-animation: glitch-after 2s linear 0s infinite alternate;
          animation: glitch-after 2s linear 0s infinite alternate;
}
a#show-link:hover:before, a#show-link:hover:after {
  text-shadow: 3px 3px 0 #01ffe9;
  position: absolute;
  right: 0;
  padding-top: 2vw;
  padding-left: 3vw;
  padding-right: 3vw;
  width: 50vw;
  overflow: hidden;
  content: "Посмотреть";
  top: -1.6vw;
  left: -2.2vw;
}
a#show-link:hover:before {
  right: -2px;
  text-shadow: -3px 0 red;
  -webkit-animation: glitch-before 2s linear 0s infinite alternate;
          animation: glitch-before 2s linear 0s infinite alternate;
}
a#show-link:hover:after {
  right: 2px;
  text-shadow: -3px 0 blue;
  -webkit-animation: glitch-after 2s linear 0s infinite alternate;
          animation: glitch-after 2s linear 0s infinite alternate;
}
a#github-project:hover:before, a#github-project:hover:after {
  text-shadow: 3px 3px 0 #01ffe9;
  position: absolute;
  right: 0;
  padding-top: 2vw;
  padding-left: 3vw;
  padding-right: 3vw;
  width: 50vw;
  overflow: hidden;
  content: "Проект на GitHub";
  top: -1.6vw;
  left: -2.2vw;
}
a#github-project:hover:before {
  right: -2px;
  text-shadow: -3px 0 red;
  -webkit-animation: glitch-before 2s linear 0s infinite alternate;
          animation: glitch-before 2s linear 0s infinite alternate;
}
a#github-project:hover:after {
  right: 2px;
  text-shadow: -3px 0 blue;
  -webkit-animation: glitch-after 2s linear 0s infinite alternate;
          animation: glitch-after 2s linear 0s infinite alternate;
}

.cards-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 85vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.cards-container {
  width: 85vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: rotateX(51deg) rotateZ(-25deg) rotateY(10deg);
          transform: rotateX(51deg) rotateZ(-25deg) rotateY(10deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: -15px 12px 8px 0px rgba(0, 144, 255, 0.2);
          box-shadow: -15px 12px 8px 0px rgba(0, 144, 255, 0.2);
  min-height: 14vw;
  pointer-events: auto;
  width: 16vw;
  margin: 1vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #01ffe9;
  -webkit-animation: card-show 1.5s cubic-bezier(0.54, 0.06, 0.57, 0.92);
          animation: card-show 1.5s cubic-bezier(0.54, 0.06, 0.57, 0.92);
}
.card:hover {
  cursor: pointer;
  -webkit-transform: translateZ(10px);
          transform: translateZ(10px);
}
.card span {
  font-family: "Jura", sans-serif;
  text-align: center;
  color: white;
  font-size: 2vw;
  font-weight: 800;
}

.card-container-wrapper {
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.container-open {
  scroll-behavior: smooth;
  pointer-events: auto;
  width: 17vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  margin: unset;
  height: 80vh;
}
.container-open::-webkit-scrollbar {
  width: 0;
  background: transparent;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.container-open .card {
  margin: 0 0 1vw 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.container-open .card:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.container-open .card:last-child {
  margin: 0;
}

.card-active {
  outline: 4px solid white;
  -webkit-box-shadow: 0px 0px 6px 6px #01ffe9;
          box-shadow: 0px 0px 6px 6px #01ffe9;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.card-active:hover {
  -webkit-transform: scale(0.9) !important;
          transform: scale(0.9) !important;
}

.slider-navigation {
  display: none;
  -webkit-animation: 0.85s slider-nav-pag-show;
          animation: 0.85s slider-nav-pag-show;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70vh;
  position: absolute;
  right: 2vw;
  pointer-events: auto;
}
.slider-navigation.close-animation {
  -webkit-animation: 0.85s slider-nav-pag-reverse;
          animation: 0.85s slider-nav-pag-reverse;
}
.slider-navigation button {
  cursor: pointer;
  outline: none;
  border: 1px solid white;
  width: 3vw;
  height: 3vw;
  background: transparent;
  color: #ffffff;
}
.slider-navigation button:disabled {
  opacity: 0.5;
}
.slider-navigation button:disabled:hover {
  border: 1px solid white;
  color: white;
}
.slider-navigation button:hover {
  border: 1px solid #01ffe9;
  color: #01ffe9;
}

.slider-pagination {
  display: none;
  -webkit-animation: 0.85s slider-nav-pag-show;
          animation: 0.85s slider-nav-pag-show;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  right: 2vw;
  pointer-events: auto;
}
.slider-pagination.close-animation {
  -webkit-animation: 0.85s slider-nav-pag-reverse;
          animation: 0.85s slider-nav-pag-reverse;
}
.slider-pagination div {
  cursor: pointer;
  margin: 1vw;
  background: white;
  width: 1vw;
  height: 1vw;
  -webkit-transition: 2s;
  transition: 2s;
}
.slider-pagination div.active {
  background: #01ffe9;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 2s;
  transition: 2s;
}

.info-block {
  width: 78%;
  height: 80vh;
  color: white;
  position: relative;
  -webkit-animation: info-block 1s cubic-bezier(0.54, 0.06, 0.28, 0.97);
          animation: info-block 1s cubic-bezier(0.54, 0.06, 0.28, 0.97);
}
.info-block.close-animation {
  -webkit-animation: info-block-reverse 1s cubic-bezier(0.54, 0.06, 0.28, 0.97);
          animation: info-block-reverse 1s cubic-bezier(0.54, 0.06, 0.28, 0.97);
}
.info-block .close-btn {
  pointer-events: auto;
  position: absolute;
  top: -0.3vw;
  right: -1.2vw;
  width: 2.2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  padding: 0.5vw;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.info-block .close-btn span {
  width: 100%;
  background: #ffffff;
  height: 1px;
}
.info-block .close-btn span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.info-block .close-btn span:nth-child(1) {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.info-block::before, .info-block::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  content: "";
  position: absolute;
  border: 1px solid transparent;
}
.info-block::before {
  border-top-color: #01ffe9;
  border-left-color: #01ffe9;
  top: 0;
  left: 0;
  width: 96%;
  height: 75%;
}
.info-block::after {
  border-bottom-color: #01ffe9;
  border-right-color: #01ffe9;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 94%;
}
.info-block .info-content-wrapper {
  padding: 1vw;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 93%;
}
.info-block .content-text .info-title, .info-block .content-text .info-skills, .info-block .content-text .info-description {
  font-family: "Jura", sans-serif;
  margin-bottom: 0.5vw;
  pointer-events: auto;
}
.info-block .content-text .info-title {
  font-size: 1.7vw;
}
.info-block .content-text .info-skills, .info-block .content-text .info-description {
  font-size: 1.2vw;
}
.info-block .info-images img {
  width: 20vw;
  pointer-events: auto;
}
.info-block .info-media {
  pointer-events: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}
.info-block .info-media .link-wrapper {
  margin: 0;
  margin-right: 2vw;
}
.info-block .info-media .link-wrapper a {
  z-index: 5;
}

footer {
  -ms-flex-negative: 0 !important;
      flex-shrink: 0 !important;
}

@media (max-width: 768px) {
  .title-wrapper {
    max-width: 100vw;
    margin-top: 5.5vw;
  }
  .title-wrapper::before {
    top: 4vw;
    width: 70vw;
    height: 4px;
  }
  .title-wrapper::after {
    top: 20vw;
    width: 79.8vw;
    height: 4px;
  }

  .media {
    display: none;
  }

  h1 {
    height: 12vw;
    -webkit-animation: blink-caret 1.2s step-end infinite;
            animation: blink-caret 1.2s step-end infinite;
    margin: auto;
    border-right: 0.1em solid #01ffe9;
    padding: 0;
    text-align: center;
    max-width: 100vw;
    font-size: 10vw;
  }
  h1:before, h1:after {
    margin: 0;
    top: 5.6vw !important;
    left: 2.4vw !important;
    padding-right: 23vw !important;
    padding-left: 9vw !important;
    width: 100%;
    height: 100%;
  }

  .cards-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    width: 70vw;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  .cards-container .card {
    -webkit-transform: rotateX(51deg) rotateZ(324deg) rotateY(10deg);
            transform: rotateX(51deg) rotateZ(324deg) rotateY(10deg);
    width: 95vw;
    height: 60vw;
  }
}